* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 16px 0 0;
    border-bottom: 1px solid #ccccccab;
    z-index: 1000;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.logo-container{
    display: flex;
    align-items: center;
}

header img {
    width: 14%;
    margin-right: 10px;
    margin-left: 10%;
    margin-top: -6%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #004AAD;
    font-size: 20px;
    margin-top: -3.5%;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu > li {
    list-style: none;
    padding: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
}

a {
    color: #004AAD;
    text-decoration: none;
}

.button-container {
    display: flex;
    gap: 25px;
    margin-right: 1%;
}

.container button {
    padding: 5px 25px;
    border-radius: 12px;
    font-size:20px;
    margin-top: -7%;
    cursor: pointer;
}

.entrar{
    border: 2px solid;
    border-color: #1A9047;
    color: #1A9047;
}

.entrar:hover {
    background-color: #2BC866;
    color: white;
    border-color: #2BC866;
}

.cadastrar{
    background-color: #1A9047;
    color: white;
    border: none;
}

.cadastrar:hover {
    background-color: #2BC866;
    color: white;
}

.rastreio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.rastreio-container h2{
    margin-top: 6%;
    margin-bottom: 25px;
    font-size: 45px;
    color: #2BC866;
}

.rastreio-container form{
    display: flex;
    align-items: center;
}


.rastreio-container input{
    margin-right: 6px;
    padding: 10px;
    width: 400px;
    max-width: 800px;
    border-radius: 3px;
    border: 1px solid #cccccc7a;
    text-align: left;
}

.rastreio-container button{
    background-color: #808080;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 11px;
    background-image: url('imagens/ico-botao-entrega.png');
    background-repeat: no-repeat;
    background-position: 8px center;
    padding-left: 30px;
    background-size: 20px;
    cursor: pointer;
}

.rastreio-container button:hover {
    background-color: #2BC866;
}

.conteudo{
    display: flex;
    align-items: center;
    margin-left: 14%;
    margin-top: 4%;
}

.conteudo img{
    width: 80%;
    height: auto;
}

.sobre-nos{
    text-align: center;
    margin-top: 2%;
}

.sobre-nos h2{
    font-size: 33px;
    color: #2BC866;
}

.sobre-nos p{
    margin-top: 30px;
    font-size: 16px;
}

.beneficios{
    display: flex;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
    margin-top: 3%;
}

.beneficios li{
    list-style: none;
    flex: 0 0 20%;
    text-align: center;
}

.beneficios img{
    width: 130px;
}

.beneficios h3{
    color: #2BC866;
    margin-bottom: 20px;
}

.beneficios p{
    font-size: 14px;
}

.mensagem h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: -10% auto 0;
    width: 100%;
    max-width: 1000px;
}

.mensagem button{
    padding: 20px 25px;
    border-radius: 8px;
    font-size:20px;
    margin-top: 2%;
    cursor: pointer;
    font-size: 12px;
    color: white;
    background-color: #2BC866;
    border: none;
    margin-bottom: 10%;
}

.mensagem button:hover{
    background-color: #1A9047;
    color: white;
    border: none;
}

#parceiros{
    background-color: #2BC866;
    padding: 110px;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.texto-parceiros{
    flex: 0 0 calc(55% - 35px);
    margin-left: 10%;
}

.imagem-parceiros{
    flex: 0 0 30%;
    margin-top: -5%;
    margin-right: 7%;
}

.texto-parceiros h2{
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}

.texto-parceiros p{
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 12px;
    width: 90%;
}

.lista-parceiros{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px 30px;
    width: 90%;
    border-radius: 30px;
    margin-top: 30px;
}

.lista-parceiros{
    list-style: none;
}

.lista-parceiros img{
    width: 60px;
    height: auto;
    margin-top: -15%;
    margin-bottom: -20%;
}

.imagem-parceiros img{
    width: 100%;
    display: block;
}